[submodule "vendor/js_widget_runtime"]
	path = vendor/js_widget_runtime
	url = https://github.com/IstiN/flutter_js_widget_runtime.git
[submodule "vendor/external/shopping-list"]
	path = vendor/external/shopping-list
	url = https://github.com/IstiN/fa-widget-shopping-list.git
